/* Basic styles for HTML */
html,
body {
  align-content: center;
  margin: 20;
  padding: 20;
  font-family: Impact, "Haettenschweiler", "Arial Narrow Bold", sans-serif;
  background-color: slategray;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
  padding: 0;
}

p {
  margin: 0 0 1em;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  align-content: center;
  max-width: 200px;
  height: 200px;
}
