/* Basic styles for HTML */
html {
  color: black;
  background-color: gray;
  margin-left: 10%;
  margin-right: 10%;
  background-image: linear-gradient(darkslategray, gray);
}

html,
body {
  text-align: center;
  font-size: medium;
  font-family: Verdana, Tahoma, sans-serif;
}

body {
  margin-bottom: 300px;
  margin-top: 100px;
}

a {
  color: navy;
}

a:visited {
  color: purple;
}

a:hover {
  text-decoration: underline;
  color: red;
}

a:active {
  color: yellow;
}

h1 {
  font-size: xx-large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: auto;
}

div {
  margin: 1%;
  padding: 1%;
}

#left-port-img {
  text-align: center;
}

#cent-port-img {
  text-align: center;
}

#right-port-img {
  text-align: center;
}

p {
  margin: 1%;
}

ul,
ol {
  text-align: justify;
  font-size: larger;
  margin: 20px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

img {
  margin-top: 1cap;
  border-radius: 10px;
  text-align: center;
  height: 20cap;
}

#red-border {
  border: 2px solid red;
  width: 200px;
}

#white-border {
  width: 200px;
  border: 2px solid white;
}

#blue-border {
  width: 200px;
  border: 2px solid blue;
}

.container {
  align-items: center;
  width: 900px;
}

img {
  margin: 10px;
}

p {
  font-size: 18px;
}

.rounded-image {
  border-radius: 50%; /* Makes the image circular */
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.site-footer {
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  background: gray;
}

.headline {
  font-family: "Gill Sans";
  font-weight: bold;
}
