/* Basic styles for HTML */
html {
  background-image: linear-gradient(darkslategray, gray);
}

html,
body {
  margin: auto;
  text-align: center;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
  margin-bottom: 142px;
}

a {
  color: navy;
  font: bolder;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 30px;
  padding: 30px;
}

p {
  margin: 30px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  text-align: center;
  max-width: 200px;
  height: 200px;
}

.rounded-image {
  border-radius: 50%; /* Makes the image circular */
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 142px;
  background: gray;
}
